.tab-neirong{
			width:1200px;
			height:900px;
		    border-color:black;
			border-style:solid;
			border-width:0px;
			margin-left:20px;
	
		}
		.myproject-link{
			width:70px;
			height:70px;

		}
		.myproject-link-pic{
			width:40px;
			height:40px;
		}
		
		.container-fluid-right{
			width:900px;
			height:100%;
		    border-color:black;
			border-style:solid;
			border-width:0px;
			margin-left:20px;
			float:left;
		}
		.container-fulid-right-myproject{
			
		}
		.container-fluid-right-myproject-label{
			width:900px;
			height:60px;
			border-color:black;
			border-style:solid;
			border-width:0px;
		}
		.container-fluid-right-myproject-project{
			width:100px;
			height:60px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:20px;
			float:left;
		}
		.container-fluid-right-myproject-search{
			width:100px;
			height:50px;
			border-color:black;
			border-style:solid;
			border-width:0px;
		    float:right;
		}
		.progress .progress-striped{
			margin-top:60px;
		}
		.container-fluid-right-myproject-projectshow{
			width:900px;
			height:450px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:60px;
		 }
		 .container-fluid-right-myfile-filesearch{
			width:900px;
			height:50px;
			border-color:black;
			border-style:solid;
			border-width:0px;
		}
		.container-fluid-right-myfile-filesearch-myfile{
			width:100px;
			height:60px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:left;
			margin-top:20px;
		}
		.container-fluid-right-myfile-filesearch-mysearch{
			width:100px;
			height:50px;
			border-color:black;
			border-style:solid;
			border-width:0px;
		    float:right;
		}
		.progress{
			width:900px;
		}
		 .container-fluid-right-myfile-filein{
		    width:700px;
			height:50px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:left;
		 }
		 .container-fluid-right-myfile-filesort{
			width:180px;
			height:50px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:right;
		 }
		 .container-fluid-right-myfile-fileshow{
			width:900px;
			height:450px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:60px;
		 }
		 .container-fluid-right-myfile-fileshow-pagefoot{
			align:center;
		 }
		 .div-plbottom{
			float:left;
		 }
		/*img{
			opacity:1;
		}
		img:hover{
		    opacity:0.7;
		}*/
		#pic-myproject{
			opacity:1;
		}
		#pic-myproject:active{
			opacity:0;
		}

		.container-fluid-myfile-left{
			width:270px;
			height:100%;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-left:10px;
			float:right;
			background-color:#F8F8FF;
		}
		 #pic-file{
			opacity:1;
		}
		#tab-radio-2:checked #pic-file{
		    opacity:0.1;
		}
		.container-fluid-myproject-left{
			width:270px;
			height:100%;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:right;
			margin-left:10px;
			background-color:#E0FFFF;
		}
		.container-fluid-right-newproject{
			width:300px;
			height:350px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:50px;
			margin-left:50px;
			float:left;
			background-color:#CAFF70;
			opacity:0.3;
		}
		#pic-face{
			opacity:0.6;
		}
		.container-fluid-right-newproject-add{
			width:280px;
			height:100px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:50px;
			margin-left:10px;
			float:left;
			background-color:white;
			opacity:1;
		}
		.container-fluid-right-newproject-up{
			width:280px;
			height:100px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:50px;
			margin-left:10px;
			float:left;
			background-color:white;
			opacity:1;
		}
		.container-fluid-right-newfile{
			width:300px;
			height:350px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:50px;
			margin-right:100px;
			float:right;
			background-color:#CAFF70;
			opacity:0.3;
		}
		.container-fluid-right-newfile-add{
			width:280px;
			height:100px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:50px;
			margin-left:10px;
			float:left;
			background-color:white;
			opacity:1;
		}
		.container-fluid-right-newfile-up{
			width:280px;
			height:100px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			margin-top:50px;
			margin-left:10px;
			float:left;
			background-color:white;
			opacity:1;
		}
		.container-fluid-new-left{
			width:260px;
			height:100%;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:right;
			margin-left:20px;
			background-color:#CAFF70;
			opacity:0.5;
		}
		#pic-add{
			opacity:0.6;
		}
		.container-fluid-rubbish-left{
			width:270px;
			height:100%;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:right;
			background-color:#FFFACD;
		}	
		.container-fluid-right-rubbish-label{
			width:900px;
			height:60px;
			border-color:black;
			border-style:solid;
			border-width:0px;
		}
		.container-fluid-right-rubbish-dfile{
			width:100px;
			height:60px;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:left;
			margin-top:20px;
		}
		.container-fluid-right-rubbish-search{
			width:100px;
			height:50px;
			border-color:black;
			border-style:solid;
			border-width:0px;
		    float:right;
		}
		.container-fluid-other-left{
			width:260px;
			height:100%;
			border-color:black;
			border-style:solid;
			border-width:0px;
			float:right;
			margin-left:20px;
			background-color:#76EEC6;
			opacity:0.6;
		}